

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* common modal */

.common_modal{
    font-family: 'Noto Sans KR', sans-serif;
}

.common_modal .common_head{
    height: 52px;
    color: #fff;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}

.common_modal.blue .common_head{
    background: linear-gradient(180deg, rgba(13,41,83,1) 0%, rgba(22,37,128,1) 100%);
}

.common_modal.orange .common_head{
    background: linear-gradient(180deg, rgba(221,85,25,1) 0%, rgba(230,155,24,1) 100%);
}

.common_modal.purple .common_head{
    background: linear-gradient(180deg, rgba(59,31,71,1) 0%, rgba(69,8,123,1) 100%);
}

.common_modal.sky .common_head{
    background: linear-gradient(180deg, rgba(13,41,83,1) 0%, rgba(15,91,149,1) 100%);
}